<!DOCTYPE html>
<html lang="en">
<head>
	<tittle>TORNEOS</tittle>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
  <h2>Creacion de Torneos</h2>
  <p>Llenar los siguientes datos para crear un torneo</p>
  <form>
  <!-- Hay que definir que parametros estaran dentro de esta tabla, puede ser la gestion, que torneo es, equipos  registrados o para crear un torneo hay q tener una parte para crear los equipos y ya al momento de crear el fixture darle esos datos de gestion año y esas cosas-->
    <div class="form-group">
      <label for="team">To:</label>
      <input type="text" class="form-control" id="usr" placeholder="Ingresar el nombre">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="text" class="form-control" id="pwd">
    </div>
  </form>
</body>