<!DOCTYPE html>
<html>
<head>
  <title>Crear</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #update_game {padding-top:100px;height:500px;color: #fff; background-color: #ff9800;}
  #update_discipline {padding-top:50px;height:300px;color: #fff; background-color: #00bcd4;}
  #update_athlete {padding-top:100px;height:500px;color: #fff; background-color: #009688;}
  </style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '531506943868882',
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function login(){
    FB.getLoginStatus(function(response){
      if (response.status == 'connected'){
          FB.api('/me/feed', 'post',{message: 'logre publicar algo asufafa'}, function(response){
          document.getElementById('create_tournament').innerHTML = response.id;
        })
      }else 
      FB.login();
    },{scope: 'publish_actions'});
   }
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#update_game">Actualizar Partido</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Extras <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#create_athlete">Deportista</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    



<!-- Update Game-->
<div id="update_game" class="container-fluid">
  <h1>Partido</h1>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="etapa_game">Id Partido a Cambiar</label>
    <input class="form-control" id="id_game" type="text" placeholder="Ingrese Etapa">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="date_game">Fecha</label>
    <input class="form-control" id="date_game" type="text" placeholder="Año/Mes/Dia">
  </div>
    <div class="col-xs-2">
    <label for="hour_game">Hora</label>
    <input class="form-control" id="hour_game" type="text" placeholder="Ingrese la Hora">
  </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-2">
    <label for="team1_game">Equipo 1</label>
    <input class="form-control" id="team1_game" type="text" placeholder="Ingrese El Equipo 1">
    </div>
    <div class="col-xs-2">
    <label for="team2_game">Equipo 2</label>
    <input class="form-control" id="team2_game" type="text" placeholder="Ingrese El Equipo 2">
    </div>
    <div class="col-xs-2">
    <label for="serie_game">Serie</label>
    <input class="form-control" id="serie_game" type="text" placeholder="Ingrese La Serie">
    </div>
  </div>

</p>
   <button type="button" id= "insert_tournament" class="btn btn-default" onclick="insertarTorneo()">Actualizar</button>
</div>
<!-- Create athlete-->
<div id="update_athlete" class="container-fluid">
  <h1>Deportista</h1>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="student_code">Codigo Estudiante</label>
    <input class="form-control" id="student_code" type="text" placeholder="Ingrese el codigo del estudiante">
  </div>
  <div class="col-xs-2">
    <label for="a_discipline">Disciplina</label>
    <input class="form-control" id="a_discipline" type="text" placeholder="Ingrese la disciplina">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="a_equipo">Equipo</label>
    <input class="form-control" id="a_equipo" type="text" placeholder="Ingrese el equipo del estudiante">
  </div>
  <div class="col-xs-2">
    <label for="a_points">Puntos</label>
    <input class="form-control" id="a_points" type="text" placeholder="Ingrese los puntos extra">
  </div>
  <div class="col-xs-2">
    <label for="a_banns">Amonestaciones</label>
    <input class="form-control" id="a_banns" type="text" placeholder="Ingrese la cantidad de amonestaciones">
  </div>
  </div>
  </p>
  <button type="button" id= "insert_athlete" class="btn btn-default" onclick="insertarDeportista()">Actualizar</button>
</div>

<script>
  function insertar(){
    var v_discT = document.getElementById("disc").value;
    var v_cantJugT = document.getElementById("number_p").value;
    var v_nomT = document.getElementById("nombre_t").value;
    var v_colT = document.getElementById("color").value;
    return location.href = "/update?discT="+v_discT+"&numberT="+v_cantJugT+"&nombreT="+v_nomT+"&colorT="+v_colT;
  }
  function insertarTorneo(){
    var v_discTour = document.getElementById("disc_tour").value;
    var v_nomTour = document.getElementById("name_tour").value;
    var v_gesTour = document.getElementById("gestion").value;
    var v_semTour = document.getElementById("semestre").value;
    var v_tipoTour = document.getElementById("tipo").value;

    return location.href = "/update?discTour="+v_discTour+"&nomTour="+v_nomTour+"&gesTour="+v_gesTour+"&semTour="+v_semTour+"&tipoTour="+v_tipoTour;
  }
  function insertarDisciplina(){
    var v_nomDisc = document.getElementById("name_discipline").value;
    return location.href = "/update?nomDisc="+v_nomDisc;
  }
  function insertarDeportista(){
    var v_codEstDepor = document.getElementById("student_code").value;
    var v_discDepor = document.getElementById("a_discipline").value;
    var v_equipoDepor = document.getElementById("a_equipo").value;
    var v_punDepor = document.getElementById("a_points").value;
    var v_amonDepor = document.getElementById("a_banns").value;

    return location.href = "/update?codEstDepor="+v_codEstDepor+"&discDepor="+v_discDepor+"&equipoDepor="+v_equipoDepor+"&punDepor="+v_punDepor+"&tipoTour="+v_amonDepor;
  }


</script>
</body>
</html>