<!DOCTYPE html>
<html>
<head>
  <title>Crear</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #create_team {padding-top:100px;height:500px;color: #fff; background-color: #1E88E5;}
  #create_tournament {padding-top:100px;height:500px;color: #fff; background-color: #673ab7;}
  #create_fixture {padding-top:100px;height:500px;color: #fff; background-color: #ff9800;}
  #create_discipline {padding-top:50px;height:300px;color: #fff; background-color: #00bcd4;}
  #create_athlete {padding-top:100px;height:500px;color: #fff; background-color: #009688;}
  </style>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '531506943868882',
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function login(){
    FB.getLoginStatus(function(response){
      if (response.status == 'connected'){
          FB.api('/me/feed', 'post',{message: 'logre publicar algo asufafa'}, function(response){
          document.getElementById('create_tournament').innerHTML = response.id;
        })
      }else 
      FB.login();
    },{scope: 'publish_actions'});
   }
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#create_team">Crear Equipos</a></li>
          <li><a href="#create_tournament">Crear Torneo</a></li>
          <li><a href="#create_fixture">Crear Fixture</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Extras <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#create_discipline">Disciplina</a></li>
              <li><a href="#create_athlete">Deportista</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

<!-- Create teams-->
<div id="create_team" class="container-fluid">
  <h1>Equipos</h1>
   <div class="form-group row">
  <div class="col-xs-2">
    <label for="name">Nombre</label>
    <input class="form-control" id="nombre_t" type="text" placeholder="Ingrese el nombre del equipo">
  </div>
  <div class="col-xs-2">
    <label for="disc">Disciplina</label>
    <input class="form-control" id="disc" type="text" placeholder="Ingrese la disciplina">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="number_p">Cantidad</label>
    <input class="form-control" id="number_p" type="text" placeholder="Ingrese la cantidad de jugadores">
  </div>
  <div class="col-xs-2">
    <label for="color">Color</label>
    <input class="form-control" id="color" type="text" placeholder="Ingrese el color de uniforme del equipo">
  </div>
  </div>
 </p>
   <button type="button" id="insert_team" class="btn btn-default" onclick="insertar()">Insertar</button>
</div>

<!-- Create tournaments-->
<div id="create_tournament" class="container-fluid">
  <h1>Torneos</h1>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="name_tour">Nombre</label>
    <input class="form-control" id="name_tour" type="text" placeholder="Ingrese el nombre del torneo">
  </div>
  <div class="col-xs-2">
    <label for="disc_tour">Disciplina</label>
    <input class="form-control" id="disc_tour" type="text" placeholder="Ingrese la disciplina">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="gestion">Gestion</label>
    <input class="form-control" id="gestion" type="text" placeholder="Ingrese la gestion (Año)">
  </div>
    <div class="col-xs-2">
    <label for="semestre">Semestre</label>
    <input class="form-control" id="semestre" type="text" placeholder="Ingrese el semestre (Primero, Segundo)">
  </div>
  <div class="col-xs-2">
    <label for="tipo">Tipo</label>
    <input class="form-control" id="tipo" type="text" placeholder="(masculino, femenino, mixto)">
  </div>
</div>
</p>
   <button type="button" id= "insert_tournament" class="btn btn-default" onclick="insertarTorneo()">Insertar</button>
</div>

<!-- Create fixture-->
<div id="create_fixture" class="container-fluid">
  <h1>Fixture</h1>
</div>

<!-- Create discipline-->
<div id="create_discipline" class="container-fluid">
  <h1>Disciplina</h1>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="name_discipline">Nombre</label>
    <input class="form-control" id="name_discipline" type="text" placeholder="Ingrese el nombre de la disciplina">
  </div>
  </div>
  </p>
  <button type="button" id= "insert_discipline" class="btn btn-default" onclick="insertarDisciplina()">Insertar</button>  
</div>

<!-- Create athlete-->
<div id="create_athlete" class="container-fluid">
  <h1>Deportista</h1>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="student_code">Codigo Estudiante</label>
    <input class="form-control" id="student_code" type="text" placeholder="Ingrese el codigo del estudiante">
  </div>
  <div class="col-xs-2">
    <label for="a_discipline">Disciplina</label>
    <input class="form-control" id="a_discipline" type="text" placeholder="Ingrese la disciplina">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <label for="a_equipo">Equipo</label>
    <input class="form-control" id="a_equipo" type="text" placeholder="Ingrese el equipo del estudiante">
  </div>
  <div class="col-xs-2">
    <label for="a_points">Puntos</label>
    <input class="form-control" id="a_points" type="text" placeholder="Ingrese los puntos iniciales">
  </div>
  <div class="col-xs-2">
    <label for="a_banns">Amonestaciones</label>
    <input class="form-control" id="a_banns" type="text" placeholder="Ingrese la cantidad de amonestaciones">
  </div>
  </div>
  </p>
  <button type="button" id= "insert_athlete" class="btn btn-default" onclick="insertarDeportista()">Insertar</button>
</div>

<script>
  function insertar(){
    var v_discT = document.getElementById("disc").value;
    var v_cantJugT = document.getElementById("number_p").value;
    var v_nomT = document.getElementById("nombre_t").value;
    var v_colT = document.getElementById("color").value;
    return location.href = "/create?discT="+v_discT+"&numberT="+v_cantJugT+"&nombreT="+v_nomT+"&colorT="+v_colT;
  }
  function insertarTorneo(){
    var v_discTour = document.getElementById("disc_tour").value;
    var v_nomTour = document.getElementById("name_tour").value;
    var v_gesTour = document.getElementById("gestion").value;
    var v_semTour = document.getElementById("semestre").value;
    var v_tipoTour = document.getElementById("tipo").value;

    return location.href = "/create?discTour="+v_discTour+"&nomTour="+v_nomTour+"&gesTour="+v_gesTour+"&semTour="+v_semTour+"&tipoTour="+v_tipoTour;
  }
  function insertarDisciplina(){
    var v_nomDisc = document.getElementById("name_discipline").value;
    return location.href = "/create?nomDisc="+v_nomDisc;
  }
  function insertarDeportista(){
    var v_codEstDepor = document.getElementById("student_code").value;
    var v_discDepor = document.getElementById("a_discipline").value;
    var v_equipoDepor = document.getElementById("a_equipo").value;
    var v_punDepor = document.getElementById("a_points").value;
    var v_amonDepor = document.getElementById("a_banns").value;

    return location.href = "/create?codEstDepor="+v_codEstDepor+"&discDepor="+v_discDepor+"&equipoDepor="+v_equipoDepor+"&punDepor="+v_punDepor+"&tipoTour="+v_amonDepor;
  }


</script>
</body>
</html>